<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Yazokulum</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.3.1" type="text/css" media="all" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,700,700italic&#038;subset=latin,latin-ext,cyrillic,cyrillic-ext" type="text/css" media="all" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister:400&#038;subset=latin" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/fontello/css/fontello.css" type="text/css" media="all" />

    <link rel="stylesheet" href="~/Content/js/rs-plugin/settings.css" type="text/css" media="all" />

    <link rel="stylesheet" href="~/Content/css/woocommerce/woocommerce-layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/woocommerce/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)" />
    <link rel="stylesheet" href="~/Content/css/woocommerce/woocommerce.css" type="text/css" media="all" />

    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/shortcodes.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/core.animation.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/tribe-style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/skins/skin.css" type="text/css" media="all" />

    <link rel="stylesheet" href="~/Content/css/core.portfolio.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/js/mediaelement/mediaelementplayer.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/js/mediaelement/wp-mediaelement.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/js/core.customizer/front.customizer.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/js/core.messages/core.messages.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/js/swiper/swiper.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/skins/skin-responsive.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/slider-style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/custom-style.css" type="text/css" media="all" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesearch.css">




</head>
<body class="page body_style_fullscreen body_filled article_style_stretch template_single-standard top_panel_style_dark top_panel_opacity_solid top_panel_above menu_right sidebar_hide">
    <a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-angle-double-up" data-url="" data-separator="yes"></a>
    <!-- Body -->
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap bg_tint_dark">
                <!-- User menu -->
                <div class="menu_user_wrap">
                    <div class="content_wrap clearfix">
                        <div class="menu_user_area menu_user_right menu_user_nav_area">
                            <ul id="menu_user" class="menu_user_nav">

                                <li class="menu_user_controls">
                                    <a href="#">
                                        <span class="user_avatar">
                                            <img alt="" src="http://1.gravatar.com/avatar/45e4d63993e55fa97a27d49164bce80f?s=16&#038;d=mm&#038;r=g" srcset="http://1.gravatar.com/avatar/45e4d63993e55fa97a27d49164bce80f?s=32&amp;d=mm&amp;r=g 2x" class="avatar avatar-16 photo" height="16" width="16" />
                                        </span>
                                        <span class="user_name">Emre Karakuş</span>
                                    </a>
                                    <ul>
                                        <li><a href="#" class="icon icon-doc-inv">Yeni Gönderi</a></li>
                                        <li><a href="#" class="icon icon-cog-1">Ayarlar</a></li>
                                    </ul>
                                </li>
                                <li class="menu_user_logout">
                                    <a href="#" class="icon icon-logout">Çıkış</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_user_area menu_user_left menu_user_contact_area">Bizimle İletişime Geçmek İçin <a href="tel:+905075248826">+90 507 524 88 26</a> ya da <a href="#">info@yazokulum.com</a></div>
                    </div>
                </div>
                <!-- /User menu -->
                <!-- Main menu -->
                <div class="menu_main_wrap logo_left">
                    <div class="content_wrap clearfix">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Content/images/logo_dark1.png" class="logo_main" alt="">
                                <img src="~/Content/images/logo_dark1.png" class="logo_fixed" alt="">
                            </a>
                        </div>
                        <!-- Logo -->
                        <!-- Search -->
                        <div class="search_wrap search_style_regular search_ajax" title="Open/close search form">
                            <a href="#" class="search_icon icon-search-2"></a>
                            <div class="search_form_wrap">
                                <form method="get" class="search_form" action="#">
                                    <button type="submit" class="search_submit icon-zoom-1" title="Start search"></button>
                                    <input type="text" class="search_field" placeholder="" value="" name="s" title="" />
                                </form>
                            </div>
                            <div class="search_results widget_area bg_tint_light">
                                <a class="search_results_close icon-delete-2"></a>
                                <div class="search_results_content">
                                </div>
                            </div>
                        </div>
                        <!-- /Search -->
                        <!-- Navigation -->
                        <a href="#" class="menu_main_responsive_button icon-menu-1"></a>
                        <nav class="menu_main_nav_area">
                            <ul id="menu_main" class="menu_main_nav">
                                <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent">
                                    @Html.ActionLink("Anasayfa", "index", "home")

                                </li>
                                <li class="menu-item menu-item-has-children">
                                    @Html.ActionLink("Hakkında", "Hakkında")

                                </li>
                                <li class="menu-item menu-item-has-children">
                                    @Html.ActionLink("Yaz Okulları", "yazokullari")

                                </li>
                                <li class="menu-item menu-item-has-children">
                                    @Html.ActionLink("İletişim", "iletisim")

                                </li>
                                <li class="menu-item menu-item-has-children">
                                    @Html.ActionLink("Bağışçı Ol", "bagisciol")

                                </li>

                            </ul>
                        </nav>
                        <!-- /Navigation -->
                    </div>
                </div>
                <!-- /Main menu -->
            </header>
            <!-- Page title -->

            <div class="page_content_wrap">
                <div class="content_wrap">

                    @RenderBody();
                </div>
                <!-- /Contacts Footer  -->
                <!-- Copyright -->
                <footer class="testimonials_wrap sc_section bg_tint_dark post_ts_bg3">
                    <div class="sc_section_overlay" data-bg_color="#1eaace" data-overlay="0">
                        <div class="content_wrap">
                            <!-- Testimonials section -->
                            <div class="sc_testimonials sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_height_fixed aligncenter height_12em width_100per" data-old-height="12em" data-interval="7000">
                                <div class="slides swiper-wrapper">


                                    <div class="swiper-slide height_12em width_100per" data-style="width:100%;height:12em;">
                                        <div class="sc_testimonial_item">
                                            <div class="sc_testimonial_content">
                                                <div class="sc_number aligncenter margin_bottom_1_5em">
                                                    <span class="sc_number_item">1</span>
                                                    <span class="sc_number_item">3</span>
                                                    <span class="sc_number_item">0</span>
                                                </div>
                                                Devlet Üniversitesi
                                            </div>
                                            <div class="sc_testimonial_author">Yazokulum.com</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide height_12em width_100per" data-style="width:100%;height:12em;">
                                        <div class="sc_testimonial_item">
                                            <div class="sc_testimonial_content">
                                                <div class="sc_number aligncenter margin_bottom_1_5em">

                                                    <span class="sc_number_item">7</span>
                                                    <span class="sc_number_item">3</span>
                                                </div>
                                                Vakıf Üniversitesi
                                            </div>
                                            <div class="sc_testimonial_author">Yazokulum.com</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide height_12em width_100per" data-style="width:100%;height:12em;">
                                        <div class="sc_testimonial_item">
                                            <div class="sc_testimonial_content">
                                                <div class="sc_number aligncenter margin_bottom_1_5em">

                                                    <span class="sc_number_item">6</span>
                                                    <span class="sc_number_item">5</span>
                                                </div>
                                                Özel Üniversite (yakında...)
                                            </div>
                                            <div class="sc_testimonial_author">yazokulum.com</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_slider_controls_wrap">
                                    <a class="sc_slider_prev" href="#"></a>
                                    <a class="sc_slider_next" href="#"></a></a>
                                </div>
                            </div>
                            <!-- /Testimonials section -->
                        </div>
                    </div>
                </footer>
                <div class="copyright_wrap">
                    <div class="content_wrap">
                        <p>&copy; Bütün Hakları Saklıdır. <a href="emrekarakus.com"> emrekarakus.com </a> 'a aittir.</p>
                    </div>
                </div>
                <!-- /Copyright -->
            </div>
        </div>

        <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

        <div class="custom_html_section"></div>

        <script src="https://kit.fontawesome.com/57456f662e.js" crossorigin="anonymous"></script>

        <script type="text/javascript" src="~/Content/js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery/jquery.blockUI.min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery/jquery.cookie.min.js"></script>

        <script type="text/javascript" src="~/Content/js/global.min.js"></script>
        <script type="text/javascript" src="~/Content/js/core.utils.min.js"></script>
        <script type="text/javascript" src="~/Content/js/core.init.min.js"></script>
        <script type="text/javascript" src="~/Content/js/shortcodes/shortcodes.min.js"></script>

        <script type="text/javascript" src="~/Content/js/rs-plugin/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="~/Content/js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="~/Content/js/slider_init.js"></script>

        <script type="text/javascript" src="~/Content/js/superfish.min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.slidemenu.min.js"></script>

        <script type="text/javascript" src="~/Content/js/mediaelement/mediaelement-and-player.min.js"></script>
        <script type="text/javascript" src="~/Content/js/mediaelement/wp-mediaelement.min.js"></script>

        <script type="text/javascript" src="~/Content/js/core.messages/core.messages.min.js"></script>

        <script type="text/javascript" src="~/Content/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="~/Content/js/hover/jquery.hoverdir.min.js"></script>
        <script type="text/javascript" src="~/Content/js/prettyPhoto/jquery.prettyPhoto.min.js"></script>
        <script type="text/javascript" src="~/Content/js/swiper/swiper.min.js"></script>
        <script type="text/javascript" src="~/Content/js/swiper/swiper.scrollbar.min.js"></script>
        <script type="text/javascript" src="~/Content/js/diagram/chart.min.js"></script>

        <script type="text/javascript" src="~/Content/js/core.customizer/front.customizer.min.js"></script>
        <script type="text/javascript" src="~/Content/js/skin.customizer.min.js"></script>


</body>

</html>
